/* background setting */
html { 
    background: url(https://cdn.pixabay.com/photo/2016/09/19/07/01/lake-1679708_960_720.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* fonts  */
body{
    font-family: 'DM Serif Display', serif;
    font-family: 'Estonia', cursive;
    font-family: 'Spectral SC', serif;
}

.container1{
    opacity: 0.8;
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #f1feff;
    justify-content:end;
}
.links{
    margin: 50px;
   margin-top: 20px;
}
a{
    text-decoration: none;
}
.logo{
    margin-right: 878px;
    font-size: small;
    margin-top: 2px;
}
button{
    background-color: crimson;
    width: 94px;
    height: 22px;
}
.container2{
    opacity: 0.8;
    height: 481px;
    background-color: #7ad3f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 66px;
}
.intro{
    font-size: large;
    margin-top: 66px;
    height: 500px;
    width: 354px;
}
.placeholder{
    border: 3px solid rgb(64 57 38);
    height: 324px;
    width: 546px;
}
.img{
    height: 100%;
    width:100%;
}
.img :hover{
    opacity: 1;
}
.container3{
    opacity: 0.8;
    background-color: #dcd3ab;
    margin-top: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 443px;
}
.containerimg{
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.subtext{
    height: 52px;
   
    text-align: center;
}
#image2, #image3, #image4, #image5{
    height: 190px;
    width: 207px;
    border-radius: 0px;
    border: 3px solid rgb(64 57 38);
}